version: "3.8"

services:
  app:
    image: kimhyeyeonn/back:2.1
    container_name: backend-container
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      YOUR_API_KEY: ${YOUR_API_KEY}
      YOUR_JEJU_API_KEY: ${YOUR_JEJU_API_KEY}
      YOUR_KAKAO_API_KEY: ${YOUR_KAKAO_API_KEY}
      YOUR_REDIRECT_URI: ${YOUR_REDIRECT_URI}
      SPRING_AI_KEY: ${SPRING_AI_KEY}
    restart: on-failure

  database:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: jeju
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
